.prof-inner{
    width: 500px;
    height: 600px;
    background: #f2f0eb;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.prof1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.im1{
    position: absolute;
    top: 20;
    left: 12;
    width: 50px;
    height: 50px;
    background-image: url(https://www.starbucks.in/assets/icon/Group%20566.svg);
    background-size: cover;
}
.im2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url(https://www.starbucks.in/assets/icon/Group45.svg);
  background-size: cover;
}
.fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 69px;
    margin: 40px 0 0 0;
    margin-top: 112px;
}

.profile-pic {
    width: 200px;
    max-height: 200px;
    display: inline-block;
    background-image: url(https://source.unsplash.com/random/150x150?person);
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 72px;
}
/* .profile-pic {
    max-width: 100%;
    height: auto;
} */
.p-image {
  position: absolute;
  top: 167px;
  right: 30px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
textarea, .tarea{
    border: none;
    margin: 10px 0 0 0;
    border-radius: 15px;
    padding: 10px;
}