.prof-inner {
  width: 500px;
  height: 500px;
  background: #f2f0eb;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.prof1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.im1 {
  position: absolute;
  top: 20;
  left: 12;
  width: 50px;
  height: 50px;
  background-image: url(https://www.starbucks.in/assets/icon/Group%20566.svg);
  background-size: cover;
}
.im2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: url(https://www.starbucks.in/assets/icon/Group45.svg);
  background-size: cover;
}
.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 69px;
  margin: 40px 0 0 0;
  margin-top: 112px;
}
.profile-details {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-bottom: 50px;
}
.inner-profile {
  width: 70%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.upper-profile {
  margin: 10px 0 0 0;
  width: 100%;
  height: 300px;
  /* background-color: antiquewhite; */
  padding: 40px;
  font-size: 30px;
  font-weight: 400;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
.u1 {
  width: 100%;
  height: 38%;
  /* background: red; */
  position: relative;
  display: flex;
  /* border-bottom-width: 2px;
    border-color: gray; */
}
hr {
  border-top: 1px solid gray;
}
.middle-div{
    width:100%;
    height: 100%;
    /* margin: 50px 0 0 0; */
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.minn{
display: flex;
}
.middle-div h1{
    font-size: 22px;
    font-weight: 600;
}
.middle-div h2{
    font-size: 13px;
    font-weight: 200;
    color: gray;
}
.more{
    font-size: 18px;
    margin: 20px 0;
    text-align: left;
}
.more-div{
display: flex;
height: 250px;
}
.m1{
    height: 100%;
    width: 250px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 10px;
    display: block;
    text-align: left;
}
.u2 {
  width: 100%;
  height: 60%;

  /* background-color: antiquewhite; */
  text-align: left;
  padding: 10px;
}
.u2 h1 {
  font-size: 29px;
  font-weight: 600;
}
.u2 h2 {
  font-size: 50px;
  font-weight: 700;
}
.prof-img {
  height: 100%;
  width: 80px;
  border-radius: 50px;
  background-color: white;
  margin-right: 20px;
}
.prof-img img {
  height: 100%;
}
.u1 h1 {
  margin: auto 20px;
  font-size: 20px;
}
.share-prof {
  position: absolute;
  right: 0;
  border-radius: 50px;
  width: 100px;
  height: 50%;
  background-color: black;
  color: white;
  font-size: 18px;
  margin: 20px 0;
  padding: 7px;
}
.middle-profile {
  margin-top: 20px;
  width: 100%;
  height: 240px;
  padding: 20px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
}
.middle-div {
  width: 100%;
  height: 100%;
  margin: 50px 0 0 0;
  text-align: center;
  align-items: center;
  display: block;
}
.middle-div h1 {
  font-size: 22px;
  font-weight: 600;
}
.middle-div h2 {
  font-size: 13px;
  font-weight: 200;
  color: gray;
}
.more {
  font-size: 18px;
  margin: 20px 0;
  text-align: left;
}
.more-div {
  display: flex;
  height: 250px;
}
.m1 {
  height: 100%;
  width: 250px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 10px;
  display: block;
  text-align: left;
}
.in {
  margin: 50px 0 0 0;
}
.m1 h1 {
  font-size: 20px;
}
.m1 h2 {
  margin-top: 10px;
  font-size: 18px;
  color: gray;
  font-weight: 100;
}

.prof-img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  /* background-color: rgb(38, 43, 47); */
  margin: 0 auto 15px auto;
  margin-top: -64px;
  /* border: 2px solid rgb(38, 43, 47); */
  align-items: center;
  overflow: hidden;
}
.prof-img input {
  cursor: pointer;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  opacity: 0;
  position: relative;
  top: -130px;
  /* background-color: black; */
}
.prof-img img {
  object-fit: cover;
  height: 130px;
  width: 130px;
  border-radius: 70%;
}
.prof-img input:hover {
  opacity: 50%;
}
.common-in {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  height: 39px;
  border-radius: 17px;
  padding: 10px;
}
.common-in:hover {
  border: none;
}
.sp {
  margin: 10px;
  text-align: left;
}
.common-sb {
  background-color: rgb(86, 51, 0);
  color: white;
  border: none;
  margin: 15px 0;
  box-shadow: none;
  font-size: 14px;
  width: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 7px 0;
}
.bn-div {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile_image {
  margin: 0;
  height: 100%;
  width: auto;
}
.profile_image img {
  height: 100%;
  width: 100%;
}


.medal--gold {
    background: linear-gradient(0deg, #ffbb33 3%, #ffeda6 100%);
    width: 100px;
    height: 100px;
    margin: 0 40px 0 40px;
    border-radius: 50%;
    position: relative;
  }
  .medal--gold::after {
    content: "";
    background: #ffdf80;
    box-shadow: inset 0 1px 1px 0 #f2ba49;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border-radius: 50%;
    position: absolute;
  }
  
  .medal--silver {
    background: linear-gradient(0deg, #b6b6bf 3%, #edf4fa 100%);
    width: 100px;
    height: 100px;
    margin: 0 40px 0 40px;
    border-radius: 50%;
    position: relative;
  }
  .medal--silver::after {
    content: "";
    background: #dadce6;
    box-shadow: inset 0 1px 1px 0 #b6b6bf;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border-radius: 50%;
    position: absolute;
  }
  
  .medal--bronze {
    background: linear-gradient(0deg, #b37e59 3%, #ffd2b3 100%);
    width: 100px;
    height: 100px;
    margin: 0 40px 0 40px;
    border-radius: 50%;
    position: relative;
  }
  .medal--bronze::after {
    content: "";
    background: #f2c7aa;
    box-shadow: inset 0 1px 1px 0 #b5815c;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border-radius: 50%;
    position: absolute;
  }
  .req
  {
    font-size: 12px;
    margin-top: 10px;
  }
  .redeem{
    width: 74px;
    color: white;
    padding: 5px 0;
    background-color: #f6c070;
    border-radius: 10px;
    margin-top: 5px;
  }
  .mg,.ms,.mb{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .score{
    display: flex;
  }
  .m-token{
    background-color: #f6c070;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 10px;
  }