
.body1{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	min-height: 100vh;
	
}
.container_spin{
	height: 350px;
	width: 350px;
	background: #AB877D;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 10px gray;
	transition: 3s all;
}
.container_spin div{
	height: 50%;
	width: 200px;
	clip-path: polygon(100% 0,50% 100%, 0 0);
	transform: translateX(-50%);
	transform-origin: bottom;
	position: absolute;
	left: 21%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-family: monospace;
	font-weight: 1000;
	color:#563300; 
	 writing-mode: vertical-rl;
}
.container_spin .one1{
	background: #179ca3;
	left: 50%;
}
.container_spin .two2{
	background: #a047d7;
	transform: rotate(60deg);
}
.container_spin .three3{
	background: #e2f0f2;
	transform: rotate(120deg);
}
.container_spin .four4{
	background: #d0da5f;
	transform: rotate(180deg);
}
.container_spin .five5{
	background: #57bd6a;
	transform: rotate(240deg);
}
.container_spin .six6{
	background: #e74ab8;
	transform: rotate(300deg);
}
.mid_middle{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	position: absolute;
	background: #008276;
}
#spinnn{
	height: 60px;
	width: 200px;
	background: #AB877D;
	position: absolute;
	margin-top: 600px;
	font-size: 30px;
	color: white;
	font-weight: 1000;
	letter-spacing: 4px;
	border: 1px solid white;
	cursor: pointer;
	box-shadow: 0 5px 10px gray;
	transition: 0.2s all;
}
#spinnn:hover{
	box-shadow: none;
}
.stoperrr{
	height: 50px;
	width: 40px;
	background: #ffd600;
	position: absolute;
	clip-path: polygon(100% 0,50% 100%, 0 0);
	margin-top: -350px;
}

