.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* user */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.main1 {
  position: relative;
  align-items: center;
  width: 100%;
  height: 50rem;
  background-color: #ffe8d6;
}
.head-container {
  width: 100%;
  height: 100%;
 
} 
.fading-div {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: row; */
  position: relative;
}
.song-div{
  /* background-color: rgba(255,255,255,0.7); */
  backdrop-filter: blur(2px);
  width: 230px;
  height: 350px;
  margin:320px 0 0 70px;
}
.img-div{
  width: 550px;
  height: 550px;
  margin:150px 0 0 550px;
  background-image: url(https://imissmycafe.com/assets/images/cafesketch.png);
  background-size: cover;
}
.title-div{
position: absolute;
top: 178px;
left: 75px;
text-align: left;
}
.title-div h1{
  font-family: 'Sacramento', cursive;
  font-weight: 800;
  font-style: normal;
  color: black;
  font-size: 60px;
}
.title-div h2{
  font-family: 'Sacramento', cursive;
  font-weight: 800;
  font-style: normal;
  color: black;
  font-size: 30px;
}
